<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.rfduino.bytes" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bytes</name>
    <description>
        Example sending data to RFduino.
    </description>
    <author email="don.coleman@gmail.com" href="https://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
